.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 10dvh;
    margin-top: 10dvh;
}
.flip-card {
    width: 30%;
    height: 200px;
}
.flip-card-front{
    background-color: #ffc107;
}
.flip-card-back{
    background-color: aqua;
    color: black;
}